$grey: #62686ced;
$accent_color: #007DFE;
$white: white;

.inputField{
    display: flex;
    flex-direction: column;
    input{
        padding: 0.5rem;
        font-size: 1rem;
        margin-bottom: 1.7rem;
        width: 18rem;
        border: 0.1rem solid $grey;
        border-radius: 0.5rem;
        outline: none;
        height: 30px;
       }
    label{
        margin-bottom: 0.5rem;
        font-weight: bold;
        font-size: 12px;

    }
    .Eye{
       margin: -3.8rem 0 2rem 17rem;
    }
}

.atom_button{
    color: $white;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
    padding: 14px;
    margin: 10px 0px;
    font-size: .7rem;
    width: 317px;
    background-color: $accent_color;
}

@media  screen and (min-width: 1024px) {
    .inputField{
        input{
            width: 21rem;
        }
        .Eye{
        margin-left: 20rem;
        }
    }
    .atom_button{
        width: 368px;
    }
}
