$accent_color: rgb(0, 76, 255);
$white: white;
// variable

@mixin flexcoloumn{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

.signupForm{
   input{
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1.3rem;
    width: 20rem;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    outline: none;
   }
}




.home_page{
    @include flexcoloumn()
}

.home_page{
text-align: center;

h1{
    font-weight: bold;
    font-size: 2.5rem;
}

.login_link{
    color: $accent_color;
}

.homeimg{
    width: 70%;
    max-width:300px;
    margin: 2rem 0px;
}

button{
    background-color: $accent_color;
    color: $white;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
    padding: 1rem 1.2rem;
    margin: 10px 0px;
    a:-webkit-any-link{
        color: white;
        text-decoration: none;
    }
}


.login_text{
    a:-webkit-any-link{
        color: $accent_color;
        text-decoration: none;
    }
}


}


